* {
    box-sizing: content-box;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../assets/sala.jpeg);
    color: yellow;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.page-conteiner {

    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        " header "
        "section"
        " main ";
}

/*HEADER*/

header {
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    margin: 15px 0 0 150px;

}

/*NAVEGACION*/
.nav {
    display: inline;
    align-items: center;
    list-style-type: none;
    margin: 3px;
    padding: 5px;
    background-color: rgb(39, 38, 38);
    border-radius: 20px;
}

.nav:hover {
    background: yellow;

}

.elemento:hover {
    color: black;
}

.elemento {
    color: yellow;
    font-size: 20px;
    text-decoration: none;

}

/*SECTION*/
section {
    grid-area: section;
    text-align: center;

}


section button a img {
    width: 80px;
}

/*MAIN*/
main {
    grid-area: main;
    text-align: center;
    margin-bottom: 20px;
}

main form label {
    background-color: rgb(39, 38, 38);
}
/*MEDIA QUERIES*/

@media screen and (max-width:1075px) {
    .page-conteiner {

        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "section"
            "main";
    }

    header {
        margin: 30px;
    }

    .logo {
        width: 500px;
        margin: 10px;
    }

}
@media screen and (max-width:810px) {
    .page-conteiner {

        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "section"
            "main";
    }

    header {
        flex-direction: column;
        padding-left: 180px;
        
    }

    .logo {
        width: 400px;
        margin: 10px;
    }

}